.main {
  padding: 2rem;
  min-height: 100vh;
  gap: 2rem;
}

.homePage {
  display: flex;
  flex-direction: row;
  margin-top: 75px;
  margin-left: 5%;
  margin-right: 5%;
}

.mainColumn {
  padding: 1rem;
}

.introductionStatement {
  margin-bottom: 20px;
}

.smallBio {
  display: flex;
  flex-direction: column; /* Stack content vertically */
  align-items: center; /* Center horizontally */
  justify-content: center; /* Center vertically */
  width: 600px; /* Adjust the width as needed */
  padding: 1rem; /* Add padding for spacing */
}
.smallBio h1 {
  margin-bottom: 20px;
}
.circularProfileImage {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
}

@media (max-width: 820px) {
  .homePage {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 15px;
    margin-left: 5%;
    margin-right: 5%;
  }

  .smallBio {
    display: flex;
    flex-direction: column; /* Stack content vertically */
    align-items: center; /* Center horizontally */
    justify-content: center; /* Center vertically */
    padding: 1rem; /* Add padding for spacing */
  }
   
}