.ul {
    margin-top: 40px;
    list-style-type: none;
    padding-left: 20%;
    padding-right: 20%;
}

.licontainer{
    display:block;
    padding: 9px;
    margin: 10px;
    border-style: solid;
    border-radius: 10px;
    box-shadow: inset;
    border-color: lightgray;
    border-width: 1px;
}

.licontainer:hover{
    padding: 8px;
    border-color:#ff9900;
    border-width: 2px;
}

.imagedescriptionlayer {
    display: flex;
}
  
.thumbnail {
    width: 200px;
    height: 200px;
    margin-right: 5px;
}

/*Custom CSS*/
.basetext {
    padding-left: 10px;
    color: gray;
    font-size: 18px;
}

.titlelayer{
    display: flex;
    justify-content: space-between;
}

.baseheader {
    color:white;
    margin-bottom: 10px;
}
