.ul {
    margin-top: 40px;
    list-style-type: none;
    margin-left: 20%;
    margin-right: 20%;
}

.licontainer{
    display:block;
    padding: 9px;
    margin: 10px;
    border-style: solid;
    border-radius: 10px;
    box-shadow: inset;
    border-color: lightgray;
    border-width: 1px;
}

.licontainer:hover{
    padding: 8px;
    border-color:#ff9900;
    border-width: 2px;
}

.imagedescriptionlayer {
    display: flex;
}
  
.thumbnail {
    width: 200px;
    height: 200px;
    margin-right: 5px;
}

/*Custom CSS*/
.basetext {
    padding-left: 10px;
    color: gray;
    font-size: 18px;
}

.titlelayer{
    display: flex;
    justify-content: space-between;
}

.baseheader {
    color:white;
    margin-bottom: 10px;
}

.dateheader{
    color: gray;
}

@media (max-width: 820px) {
    .ul {
        margin-top: 40px;
        list-style-type: none;
        margin-left: 5%;
        margin-right: 5%;
    }
    
    .licontainer{
        display:block;
        border-style: solid;
        border-radius: 10px;
        box-shadow: inset;
        border-color: lightgray;
        border-width: 1px;
    }

    .baseheader {
        color:white;
        text-align: center;
        margin-bottom: 5px;
    }    

    .dateheader{
        text-align: right;
        color: gray;
        font-size: 60%;
    }

    .thumbnail {
        width: 13em;
        height: 10em;
    }

    .titlelayer{
        display: block;
        justify-content: flex-start;
    }
    
    .imagedescriptionlayer {
        margin-top: 20px;
        display: block;
        text-align: center;
    }
        /*Custom CSS*/
    .basetext {
        margin-top: 10px;
        padding-left: 10px;
        color: gray;
        font-size: 18px;
        text-align: left;
    }
}