.main {
    border-style: solid;
    box-shadow: inset;
    border-color: lightgray;
    border-width: 1px;
    border-radius: 5px;
    padding:15px;
    flex-direction: row;
    margin-bottom: 30px;
}

.arrow {
    display: inline-block;
    margin-right: 20px;
    user-select: none;
    font-size: 110%;
}

.arrowOpen{
    display: inline-block;
    justify-content: left;
    margin-right: 20px;
    user-select: none;
    transform: rotate(270deg);
    font-size: 110%;
}

.header {
    display: flex;
    flex-direction: row;
    user-select: none;
}

.displayBox {
    flex-direction: column;
}

.content {
    margin-top: 30px;
}