.title {
    text-align: center;
    font-size: 300%;
    color: white;
    margin-bottom: 20px;
    font-weight: bold;
}

.subtitle {
    margin-left: 10%;
    margin-right: 10%;
    font-size: 150%;
    text-align: center;
    color: gray;
    margin-bottom: 30px;
}

.backbutton {
    margin-left: 5%;
    font-size: 350%;
}

.backbutton:hover {
    color: orange;
}

.blog a {
    text-decoration: underline;
    color: blue;
}

.blog p {
    margin-left: 7.5%;
    margin-right: 7.5%;
    margin-bottom: 20px;
    color: gray;
    font-size: 130%;
    line-height: 140%;
    text-align: center;
}

.blog img{
    width: 450px;
    text-align: center;
    margin-right: 30px;
    margin-left: 30px;
}
